@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/homeIndex.css" />

<div class="welcometext-container">
    <img src="https://finding-neverland.de/wp-content/uploads/2020/04/sibiu_shutterstock.jpg" alt="Students" style="width: 100%;
        height: 337px;
        object-fit: cover;
        object-position: 0 30%"/>

    <div class="welcometext">
        <h1 class="display-4 text-center">Welcome!</h1>
    </div>
</div>
