@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Welcome!</h1>
    <p>Click the button below to start the admission process.</p>
    <a class="btn btn-secondary" asp-controller="Home" asp-action="Privacy">Click me!</a>
</div>
