@model IEnumerable<AdmissionWebsiteFinal.Models.SpecializationViewModel>


<table class="table">
    <thead>
        <tr>
            <th>
                Departments
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var department in Model)
        {
            <tr>
                <td>@department.Name</td>
            </tr>
        }
    </tbody>
</table>